<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <img src="/pages/footer-logo.png" alt="WMAZING" class="logo" />

        <p class="desc">
          WMAZING Online — бесплатная онлайн-игра про Криминальную
          Россию с уникальной атмосферой, большой игровой аудиторией и
          открытым игровым миром. Российские города и деревни,
          иностранные и отечественные автомобили, а также множество работ
          и развлечений
        </p>

        <div class="socials">
          <a class="social-item vk" href="#"></a>
          <a class="social-item ok" href="#"></a>
          <a class="social-item max" href="#"></a>
          <a class="social-item youtube" href="#"></a>
          <a class="social-item tiktok" href="#"></a>
          <a class="social-item rutube" href="#"></a>
          <a class="social-item vkvideo" href="#"></a>
        </div>
      </div>

      <div class="footer-right">
        <div class="col">
          <h4>Игрокам</h4>
          <a href="#">Начать играть</a>
          <a href="#">Правила игры</a>
          <a href="#">Донат</a>
          <a href="#">Личный кабинет</a>
          <a href="#">Помощь</a>
        </div>

        <div class="col">
          <h4>Навигация</h4>
          <a href="#">Предложить идею</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="links">
        <a href="#">Политика конфиденциальности</a>
        <span>|</span>
        <a href="#">Лицензионное соглашение</a>
        <span>|</span>
        <a href="#">Документы и контакты</a>
      </div>

      <div class="copy">
        <p>Сайт содержит информационную продукцию, предназначенную для лиц, достигших 16 лет</p>
        <div class="copy-right">
          <p>2014 — 2026 © WMAZING</p>
          <p class="dev">
            developer by 
            <a href="https://t.me/kannadec_dev" target="_blank" rel="noopener">zenettany</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>